*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}
.sign_up{
    display: flex;
    align-items: center;
    gap: 20px;
}